:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --max-width-main-content: 608px;

    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1250px;
}
body{
    background-color: var(--joy-palette-neutral-500);
}
