:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --max-width-main-content: 608px;
    --max-width-main-content-without-padding: 410px;
    --max-width-mobile-content: 288px;


    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: var(--joy-palette-neutral-500);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1250px;
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--joy-palette-neutral-50);
    border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--joy-palette-primary-50);
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--joy-palette-primary-200);
}